<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/layout.css">

</head>
<body>
    <%-include("partials/header.ejs") %>
     <div id="content">
    <h1>About me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odit dolor odio unde distinctio voluptatum eos? Cupiditate veniam deserunt dolor, magni, enim laudantium temporibus nostrum voluptate ipsa excepturi, doloribus eos. Sapiente soluta iusto porro debitis itaque consequuntur ad deserunt accusamus!</p>
</div>
    <%-include("partials/footer.ejs") %>
</body>
</html>